annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
click==8.5.0
fastapi==0.141.1
h11==0.16.0
idna==3.19

langchain
langchain-openai
pydantic

pydantic-core==2.46.5

python-dotenv
langgraph
langgraph-checkpoint-sqlite
langchain_community
ddgs
grandalf
mcp>=1.24.0,<2
fastmcp>=3,<4
fastmcp[apps]>=3,<4
langchain_mcp_adapters

starlette==1.6.0
typing-extensions==4.16.0
typing-inspection==0.4.4
uvicorn==0.52.4